VITE_SUPABASE_URL=https://ltmzfbfcivfsyfnownji.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0bXpmYmZjaXZmc3lmbm93bmppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MTE1NTYsImV4cCI6MjA5Nzk4NzU1Nn0.DJtns4_qwWIsJEaF_oBr1-ksWvmE9DeURLMExvJETj4
